<fieldset>
    <legend>Filter</legend>
    <div class="container">
        <div class="form-group row">
            <label for="example-text-input" class="col-sm-1 col-form-label">Release</label>
            <div class="col-sm-3 form-group">
                <!-- <input class="form-control"  type="text" [ngModel]="releaseVersionModel" (change)="releaseVersionModel=$event.target.value"/>-->
                <ng-select [ngModel]="releaseVersionModel" [options]="releaseVersions" (selected)="onChangeReleaseVersion($event)">
                </ng-select>
            </div>
            <label for="example-text-input" class="col-sm-1 col-form-label">Start date</label>
            <div class="col-sm-3">
                <!-- <input class="form-control" type="date" #startDate (change)="onInputChange(startDate.value, 'startDate')"> -->
                <input class="form-control" readonly type="text" value="{{startDate}}" />
            </div>
            <label for="example-text-input" class="col-sm-1 col-form-label">End date</label>
            <div class="col-sm-3">
                <!-- <input class="form-control" type="date" #endDate (change)="onInputChange(endDate.value, 'endDate')"> -->
                <input class="form-control" readonly type="text" value="{{endDate}}" />
            </div>
        </div>
        <div class="form-group row">
            <label for="example-text-input" class="col-sm-1 col-form-label">Repositories</label>
            <div class="col-sm-3">
                <ss-multiselect-dropdown [disabled]="repos==null || (repos!=null && repos.length==0)" [options]="repos" [(ngModel)]="reposModel" [texts]="myTexts" [settings]="mySettings" (ngModelChange)="onRepoChange($event)" ></ss-multiselect-dropdown>
            </div>
            <label for="example-text-input" class="col-sm-1 col-form-label">Branches</label>
            <div class="col-sm-3">
                <ss-multiselect-dropdown [disabled]="!enableDepenRepo" [options]="branches" [(ngModel)]="branchesModel" [texts]="myTexts" [settings]="mySettings" (ngModelChange)="onChange($event)"></ss-multiselect-dropdown>
            </div>
            <label for="example-text-input" class="col-sm-1 col-form-label">Users</label>
            <div class="col-sm-3">
                <ss-multiselect-dropdown [disabled]="users==null || (users!=null && users.length==0)"  [options]="users" [(ngModel)]="usersModel" [texts]="myTexts" [settings]="mySettings" (ngModelChange)="onChange($event)"></ss-multiselect-dropdown>
            </div>           
        </div>

        <div class="row text-center">
            <button [disabled]="releaseVersionModel==null || releaseVersionModel==''" type="button" class="btn btn-primary" (click)="generateChart()">Generate Chart</button>
        </div>
    </div>

</fieldset>