<toaster-container [toasterconfig]="toasterconfig"></toaster-container>
<filter-component></filter-component>
<fieldset>
    <legend>Charts</legend>
    <div class="container">
        <stacked-chart-commit></stacked-chart-commit>
        <hr>
        <stacked-chart-bug></stacked-chart-bug>
        <hr>
        <stacked-chart-commit-size></stacked-chart-commit-size>
        <hr>
        <stacked-chart-commit-defect></stacked-chart-commit-defect>         
        <hr>
        <heat-map-chart></heat-map-chart>
        <hr>
        <stacked-chart-commit-new-enhancement></stacked-chart-commit-new-enhancement>        
    </div>    
</fieldset>
