*{
    margin: 0;
    padding: 0;
}
body{
    width: 90%;
    margin: auto;
}
chart{
    display: block;
    width: 100%;
}
hr{
    margin-bottom: 20px;    
}
.chart-container{
    position: relative;
}
.loading{   
    width: 100px;
    position: absolute;
    z-index: 1;
    left: calc(50% - 50px);
    top: calc(50% - 50px);
}