*{
    margin: 0;
    padding: 0;
}
body{
    width: 90%;
    margin: auto;
}
chart{
    display: block;
    width: 100%;
}
hr{
    margin-bottom: 20px;    
}
.chart-container{
    position: relative;
}
.loading{   
    width: 100px;
    position: absolute;
    z-index: 1;
    left: calc(50% - 50px);
    top: calc(50% - 50px);
}
input, select, button{
    border-radius: 0px!important;
}
ss-multiselect-dropdown .dropdown-inline{
    display: block!important;
}
ss-multiselect-dropdown .dropdown-inline .btn{
    text-align: left!important;
}
ss-multiselect-dropdown .dropdown-toggle  .caret
{
    position: absolute;
    right: 10px;
    top: 15px;
}